*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



img{
	width: 500px;
	height: 500px;
	filter: grayscale(100%);
	transition: 0.5s;

}

img:hover{
	filter: grayscale(0%);
}

